<div class="screen TasksLayout" style="display: none;">
	<div class="panels" data-bind="splitterFlex: {name: 'tasks_list', sizes: [20, 80]}">
		<div class="panel left_panel calendars_panel" data-splitter="tasks_list">
			<div class="panel_content">
				<div class="buttons big_single_button">
					<span class="button"  data-bind="click: createTaskInCurrentCalendar"> 
						<span data-bind="i18n: {'key': '%MODULENAME%/ACTION_CREATE_TASK'}"></span> 
					</span>
				</div>
				<div class="middle_bar">
					<div class="panel_center">
						<div class="scroll-inner">				
							<div class="items_list calendars">
		<!-- ko foreach: calendars.own() -->
				<!-- ko template: {name: 'CalendarWebclient_CalendarItemView'} --><!-- /ko -->
			<!-- /ko -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="panel_content">
				<div class="toolbar">
					<span class="content">
						<span class="item checkstate command" data-bind="click: getCalendars, checkstate: {'activeClass': 'process', 'state': preLoadingList(), 'duration': 800}">
							<span class="icon"></span>
						</span>			
					</span>			
				</div>
				<div class="middle_bar">
					<div class="panel_center unselectable" data-bind="customScrollbar: {x: false}">
						<div class="sales_list_scroll scroll-inner">
							<div class="items_list sales_list">
								<span class="list_notification" data-bind="visible: loadingList()" id="selenium_contacts_loading_info">
									<span class="description" data-bind="i18n: {'key': '%MODULENAME%/INFO_LOADING_LIST'}"></span>
								</span>
								<div class="items_sub_list sales_sub_list" data-bind="foreach: tasksList, visible : !loadingList()">
									<div class="item" data-bind="css: {'checked': checked, 'selected': selected}, visible: visible">
										<div class="item_content round_checkbox">
											<span class="data table fadeout" >
												<input type="checkbox" data-bind="checked: checked, attr: {'id': 'round_checkbox'+id}"/> 
												<label data-bind="style: {'border-color': color}, attr: {'for': 'round_checkbox'+id}"></label>
												<span data-bind="
													text: shortText, 
													style: {'text-decoration': checked ? 'line-through' : 'none', 'padding': '0px 30px'}">
												</span>
											</span>
											<div class="separator"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel_bottom unselectable" data-bind="visible: oPageSwitcher.pages().length > 0 && !loadingList(), template: {name: oPageSwitcher.ViewTemplate, data: oPageSwitcher}"></div>
			</div>
		</div>
	</div>
</div>